@{
    ViewData["Title"] = "Compra";
}
<h1>@ViewData["Title"]</h1>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EventHubPucMinas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/compra.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EventHubPucMinas.styles.css" asp-append-version="true" />
</head>

<body id="body">


    <!-- inicio -->
    <div class="container">
        <div id="corpo">
            <div class="card-principal col-11 mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://static.wixstatic.com/media/0ee974_5bdf6a037c584a69b7e461f1e8edc7cb~mv2.jpg/v1/fill/w_1000,h_667,al_c,q_90,usm_0.66_1.00_0.01/0ee974_5bdf6a037c584a69b7e461f1e8edc7cb~mv2.jpg" class="img-fluid rounded-start" alt="">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Card titleeee</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button class="button me-md-2" type="button">Button</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card-sugestao">
                            <img src="https://tse2.mm.bing.net/th?id=OIP.D2WrSGHHvoYgFiqkUEAlywHaDt&pid=Api&P=0&h=180"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of
                                    the card's content.</p>
                                <a href="#" class="button">ver mais </a>
                                <!-- Adicionando a classe btn-secondary-color -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-sugestao">
                            <img src="http://www.aplausoeventos.com.br/wp-content/uploads/2018/12/evento-1.png"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of
                                    the card's content.</p>
                                <a href="#" class="button">ver mais </a>
                                <!-- Adicionando a classe btn-secondary-color -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-sugestao">
                            <img src="http://www.aplausoeventos.com.br/wp-content/uploads/2018/12/evento-1.png"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of
                                    the card's content.</p>
                                <a href="#" class="button"> ver mais</a> <!-- Adicionando a classe  -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>