@{
    ViewData["Title"] = "Compra";
}
<h1>@ViewData["Title"]</h1>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forma de Pagamento</title>
    <link rel="stylesheet" href="compra.css"> <!-- Ajuste o caminho do seu arquivo CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body id="body">


    <!-- inicio -->
    <div class="container">
        <div id="corpo">
            <div class="card-principal col-11 mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://static.wixstatic.com/media/0ee974_5bdf6a037c584a69b7e461f1e8edc7cb~mv2.jpg/v1/fill/w_1000,h_667,al_c,q_90,usm_0.66_1.00_0.01/0ee974_5bdf6a037c584a69b7e461f1e8edc7cb~mv2.jpg" class="img-fluid rounded-start" alt="">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Card titleeee</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button class="button me-md-2" type="button">Button</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card-sugestao">
                            <img src="https://tse2.mm.bing.net/th?id=OIP.D2WrSGHHvoYgFiqkUEAlywHaDt&pid=Api&P=0&h=180"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of
                                    the card's content.</p>
                                <a href="#" class="button">ver mais </a>
                                <!-- Adicionando a classe btn-secondary-color -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-sugestao">
                            <img src="http://www.aplausoeventos.com.br/wp-content/uploads/2018/12/evento-1.png"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of
                                    the card's content.</p>
                                <a href="#" class="button">ver mais </a>
                                <!-- Adicionando a classe btn-secondary-color -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-sugestao">
                            <img src="http://www.aplausoeventos.com.br/wp-content/uploads/2018/12/evento-1.png"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of
                                    the card's content.</p>
                                <a href="#" class="button"> ver mais</a> <!-- Adicionando a classe  -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- rodapé -->


    <script src="/public/assets/js/index.js"></script>
    <!-- Certifique-se de que o caminho do arquivo JavaScript está correto -->


</body>